
.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #fcedfe;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #f9c4d2;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: red;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #3d6b8f;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
   .card-container {
     display: flex;
     justify-content: space-between;
     gap: 20px; /* Espaçamento entre os cards */
   }
   
   .card {
     flex: 0 0 calc(50% - 20px); /* Largura dos cards (50% com espaçamento entre eles) */
     height: 254px;
     border-radius: 20px;
     background: #f5f5f5;
     position: relative;
     padding: 1.8rem;
     border: 2px solid #e97b7b;
     transition: 0.5s ease-out;
     overflow: visible;
   }
   
   .card-details {
     color: black;
     height: 100%;
     gap: .5em;
     display: grid;
     place-content: center;
   }
   
   .card-button {
     transform: translate(-50%, 125%);
     width: 60%;
     border-radius: 1rem;
     border: none;
     background-color: #d46161;
     color: #fff;
     font-size: 1rem;
     padding: .5rem 1rem;
     position: absolute;
     left: 50%;
     bottom: 0;
     opacity: 0;
     transition: 0.3s ease-out;
   }
   
   .text-body {
     color: rgb(134, 134, 134);
   }
   
   /* Text */
   .text-title {
     font-size: 1.5em;
     font-weight: bold;
   }
   
   /* Hover */
   .card:hover {
     border-color: #ec2d2d;
     box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
     transform: translate(-50%, 50%);
     opacity: 1;
   }
   .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
    text-align: center; /* Adicione essa linha para centralizar o conteúdo do formulário */
}

.w3-modal-content {
    text-align: center; /* Alinha o conteúdo do modal ao centro */
    margin-left: 30px;
}

.title {
  font-size: 28px;
  color: rgb(225, 65, 65);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(225, 65, 65);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(225, 65, 65);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}


.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: red;
}

/* Estilize o botão */
.submit {
  border: none;
  outline: none;
  background-color: rgb(225, 65, 65);
  padding: 15px 30px; /* Aumente o padding para aumentar o tamanho */
  border-radius: 10px;
  color: #fff;
  font-size: 18px; /* Aumente o tamanho da fonte */
  transform: .3s ease;
  margin: 0 auto; /* Isso centraliza o botão horizontalmente */
}

.submit:hover {
  background-color: rgb(194, 56, 56);
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* Modal */
.w3-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.w3-modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: 0.4s;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

.w3-container {
    text-align: center;
}

.w3-modal-footer {
    text-align: center;
}
  /* Estilize o select */
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    background-color: #fff;
    appearance: none; /* Remova a seta padrão do select */
    cursor: pointer; /* Altere o cursor ao passar o mouse sobre o select */
  }

  /* Estilize as opções do select */
  select option {
    padding: 10px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
  }

  /* Estilize o hover nas opções do select */
  select option:hover {
    background-color: #f0f0f0;
  }

